

html { width: 100%; }

body {
	margin: 0;
	padding: 0;
	color: #333333;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	background-color: #FFFFFF;
	text-align: left;
}

div.clear,
br.clear { clear: both; }




#allContainer {
	margin: 20px 40px 40px;
	padding: 0;
}

#contentContainer {
	width: 900px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: auto;
}
	#pageEntries .xEntry .xGalleryType-pile .xGalleryItem {
		position: absolute;
	}

.bertaCopyright {
	clear: left;
	font-size: 10px;
	color: #333333;
	margin: 0 0 0;
}


/* filled background */
#xFilledBackground {
	position: fixed;
	z-index: 0;
	left: 0; top: 0; bottom: 0; right: 0;
	display: none;
}
	#xFilledBackground img {
		position: absolute;
	}

/* entry layouts */
#pageEntries .xEntry.xgallery-left-description-right,
#pageEntries .xEntry.xgallery-left-description-right .xGalleryContainer,
#pageEntries .xEntry.xgallery-left-description-right .entryText,

#pageEntries .xEntry.xgallery-right-description-left,
#pageEntries .xEntry.xgallery-right-description-left .xGalleryContainer,
#pageEntries .xEntry.xgallery-right-description-left .entryText {
	-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
}


#pageEntries .xEntry.xgallery-left-description-right .video-js,
#pageEntries .xEntry.xgallery-right-description-left .video-js {
	padding-bottom: 56%;
}

#pageEntries .xEntry.xgallery-left-description-right .xGalleryContainer,
#pageEntries .xEntry.xgallery-right-description-left .entryText {
	width: 50%;
	float: left;
	clear: none;
	padding-right: 10px;
}

#pageEntries .xEntry.xgallery-right-description-left .xGalleryContainer,
#pageEntries .xEntry.xgallery-left-description-right .entryText {
	width: 50%;
	float: right;
	clear: none;
	padding-left: 10px;
}

#pageEntries .xEntry.xgallery-left-description-right .xGallery,
#pageEntries .xEntry.xgallery-left-description-right .xGalleryItem,
#pageEntries .xEntry.xgallery-left-description-right .xGalleryItem img,
#pageEntries .entry.xgallery-left-description-right .entryText iframe,

#pageEntries .xEntry.xgallery-right-description-left .xGallery,
#pageEntries .xEntry.xgallery-right-description-left .xGalleryItem,
#pageEntries .xEntry.xgallery-right-description-left .xGalleryItem img,
#pageEntries .xEntry.xgallery-right-description-left .entryText iframe {
	max-width: 100%;
	height: auto !important;
}


div.xGalleryContainer.xSlideNumbersVisible-no>ul.xGalleryNav { display: none !important; }

div.xGalleryContainer .loader {
	position: absolute;
	top: 45%;
	left: 0;
	right: 0;
	margin: 0 auto;
	background: rgba(255,255,255,0.8) url('../layout/loader.gif') no-repeat center center;
	width: 40px;
	height: 40px;
}

/* video background */

div.xGalleryItem {
	position: relative;
}
	div.xGalleryItem object { position: relative;  }
	div.xGalleryItem .xGalleryImageVideoBack { position: absolute; 	}

.xFullscreen {
	display: none;
}

* {
	-webkit-text-size-adjust: none;
}

/* helpers */

.clearfix { zoom: 1; }
.clearfix:before,
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

.xHidden {
	display: none !important;
}

/* small tablet */
@media (max-width: 767px)  {
	#pageEntries .xEntry.xgallery-left-description-right .xGalleryContainer,
	#pageEntries .xEntry.xgallery-right-description-left .entryText,
	#pageEntries .xEntry.xgallery-right-description-left .xGalleryContainer,
	#pageEntries .xEntry.xgallery-left-description-right .entryText {
		width: 100%;
		float: none;
		clear: both;
		padding: 0;
	}
}