

html { width: 100%; }

body {
	margin: 0;
	padding: 0;
	color: #333333;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: normal;
	background-color: #FFFFFF;
	text-align: left;
}

div.clear,
br.clear { clear: both; }




#allContainer {
	margin: 20px 40px 40px;
	padding: 0;
}

#contentContainer {
	width: 900px;
	margin-top: 0;
	margin-bottom: 0;
	margin-left: 0;
	margin-right: auto;
}
	#pageEntries .xEntry .xGalleryType-pile .xGalleryItem {
		position: absolute;
	}

.bertaCopyright {
	clear: left;
	font-size: 10px;
	color: #333333;
	margin: 0 0 0;
}


/* filled background */
#xFilledBackground {
	position: fixed;
	z-index: 0;
	left: 0; top: 0; bottom: 0; right: 0;
	display: none;
}
	#xFilledBackground img {
		position: absolute;
	}


div.xGalleryContainer.xSlideNumbersVisible-no>ul.xGalleryNav { display: none !important; }

/* video background */

div.xGalleryItem {
	position: relative;
}
	div.xGalleryItem object { position: relative;  }
	div.xGalleryItem .xGalleryImageVideoBack { position: absolute; 	}

.xFullscreen {
	display: none;
}

* {
	-webkit-text-size-adjust: none;
}

/* helpers */

.clearfix { zoom: 1; }
.clearfix:before,
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }