#multisites {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
  z-index: 100000;

  li {
    display: inline-block;
    margin: 0 10px 10px 10px;
  }
}

#menuToggle {
  display: none;
}

.bt-sections-menu {
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  > ul {

    > li {
      z-index: 45000;
      white-space: nowrap;
    }
  }

  .subMenu {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;

    li {
      margin: 0;
      padding: 0;
    }
  }
}
