img,
video,
#pageEntries .xEntry .xGalleryContainer:not(.xGalleryType-pile) .xGallery,
#pageEntries .xEntry .xGalleryContainer .xGallery .xGalleryItem,
#pageEntries .xEntry .xGalleryContainer .xGallery .xGalleryItem .image {
  max-width: 100%;
  height: auto !important;
}

#xBackground {
  img {
    max-width: none;
  }
}

#pageEntries {
  .xEntry {
    min-height: 1px;
    box-sizing: border-box;
    max-width: none;
    min-width: 0;
    clear: none;

    .xGalleryType-row {
      .xGalleryItem {
        box-sizing: border-box;
      }
    }
  }
}

.bt-sections-menu {
  position: relative;
  z-index: 1;

  ul {
    li {
      display: inline-block;
      white-space: nowrap;
      margin-right: 10px;

      a {
        display: block;
      }

      &:hover {
        ul {
          display: block;
          position: absolute;
          top: auto;
          left: auto;
        }
      }

      ul {
        display: none;

        li {
          display: block;
        }
      }
    }
  }
}

#menuToggle {
  width: 1.5em;
  height: auto;
  padding: 1.5em 1em;
  margin-bottom: 0.5em;
  border: 1px solid black;
  background-color: black;

  &.active {
    background-color: white;

    span,
    span:before,
    span:after {
      background-color: black;
    }
  }

  span {
    position: relative;
    display: block;
  }

  span,
  span:before,
  span:after {
    background-color: white;
    width: 100%;
    height: 2px;
  }

  span:before,
  span:after {
    position: absolute;
    margin-top: -.6em;
    content: ' ';
  }

  span:after {
    margin-top: .6em;
  }
}

#contentContainer h1,
.bt-sections-menu > ul > li,
.floating-banner {
  left: auto !important;
  position: static !important;
  top: auto !important;
}

#additionalText {
  margin: 0 10px;
}

.floating-banner {
  display: inline-block;
  margin: 10px;
}

&.bt-centered-content {
  #allContainer {
    text-align: center;
  }

  #multisites {
    margin-top: 20px;
  }

  #contentContainer {
    h1 {
      clear: both;
    }
  }

  .bt-sections-menu {
    > ul {
      > li {
        text-align: center;
      }
    }

    .subMenu {
      li {
        margin-left: 5px;
        margin-right: 5px;
        text-align: left;
      }
    }
  }

  #menuToggle {

    span,
    span:before,
    span:after {
      text-align: left;
    }
  }

  #pageEntries {

    .xEntry,
    .xEntry .xGalleryContainer .xGallery,
    .xEntry .xGalleryType-slideshow .xGallery,
    .xEntry .xGalleryContainer .xGallery .xGalleryItem {
      margin: 0 auto;
    }
  }

  #pageEntries {
    .xEntry {
      .xGalleryContainer {
        ul {
          &.xGalleryNav {
            li {
              float: none;
              display: inline-block;
            }
          }
        }
      }
    }
  }
}

.vjs-poster {
  position: absolute;
  top: 0;
  left: 0;
}

.mess {
  position: static !important;
}

.xFixed {
  position: static !important;
}
