$class-ns: '.bt-responsive';
@import '_responsive-common';

#{$class-ns} {

  @media (max-width: 767px) {
    @import 'responsive-mobile-common';


    #pageEntries {
      &.columns-3 {
        .xEntry {
          width: 50%;

          &:nth-child(3n+1) {
            clear: none;
          }

          &:nth-child(2n+1) {
            clear: left;
          }
        }
      }

      &.columns-4 {
        .xEntry {
          width: 50%;

          &:nth-child(2n+1) {
            clear: left;
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    #pageEntries {
      &.columns-2,
      &.columns-3,
      &.columns-4 {
        .xEntry {
          float: none;
          width: 100%;
        }
      }
    }
  }

  /* larger than tablet */
  @media (min-width: 768px) {

    #pageEntries .xEntry .xGalleryType-row .xGallery {
      max-width: inherit !important;
    }
  }
}


$class-ns: '.bt-auto-responsive';

@media (max-width: 767px) {
  @import '_responsive-common';

  #{$class-ns} {
    @import 'responsive-mobile-common';
  }
}
