<?xml version="1.0" encoding="utf-8"?>
<settings>
  <template>
    <template><![CDATA[messy-0.4.2]]></template>
  </template>
  <siteTexts>
    <siteHeading><![CDATA[rīga]]></siteHeading>
  </siteTexts>
  <berta>
    <lastUpdated><![CDATA[Thu, 21 May 2015 13:27:33 GMT]]></lastUpdated>
    <installed><![CDATA[1]]></installed>
  </berta>
  <texts>
    <pageTitle><![CDATA[Rīga]]></pageTitle>
    <ownerName><![CDATA[Rīga]]></ownerName>
  </texts>
  <entryLayout>
    <galleryFullScreenBackground><![CDATA[white]]></galleryFullScreenBackground>
    <galleryFullScreenFrame><![CDATA[yes]]></galleryFullScreenFrame>
  </entryLayout>
  <socialMediaLinks>
    <links>
      <link>
        <icon><![CDATA[facebook]]></icon>
        <url><![CDATA[https://www.facebook.com/bertaCMS]]></url>
      </link>
      <link>
        <icon><![CDATA[twitter]]></icon>
        <url><![CDATA[https://twitter.com/berta_cms]]></url>
      </link>
      <link>
        <icon><![CDATA[youtube]]></icon>
        <url><![CDATA[https://www.youtube.com/user/CMSBerta]]></url>
      </link>
    </links>
  </socialMediaLinks>
</settings>
