<ul id="multisites">
  {% for site in sites %}
      <li {{ site.isAvailable }} class="{{ site.isCurrentSite }}">
        <a href="{{ site.link }}">
          {{ site.Name }}
        </a>
      </li>
  {% endfor %}
</ul>

