<ul id="multisites">
  {% for site in sites %}
      {% if site.isAvailable is same as (true) %}
        <li class="{{ site.isCurrentSite }}">
          <a href="{{ site.link }}">
            {{ site.Name }}
          </a>
        </li>
      {% endif %}
  {% endfor %}
</ul>

