<ul id="multisites">
  {% for multisites in siteName => sites %}
    {% if isAvailable === true ) %}
      <li {% if isCurrentSite === true ) %} class="selected" {% endif %}>
        <a href="{{ site.link }}">
          {{ sites.headerName }}
        </a>
      </li>
    {% endif %}
  {% endfor %}
</ul>

