{% for banner in banners %}
	<div{{ banner.attributes|raw }}>
		{% if not isResponsive and isEditMode %}
			<div class="xHandle"></div>
		{% endif %}

    {% if banner.link %}
      <a href="{{ banner.link }}" target="_blank"><img{{ banner.imageAttributes|raw }}></a>
    {% else %}
      <img{{ banner.imageAttributes|raw }}>
    {% endif %}
	</div>
{% endfor %}
