<script type="text/template" id="section">
  <div class="csHandle"><span class="handle"></span></div>
  <div class="csTitle">
    <span class="<%=xEditable%> xProperty-title xNoHTMLEntities xSection-<%=name%>"
          data-path="<%=site%>/section/<%=order%>/title">
      <%=title%>
    </span>
  </div>
  <div class="csBehaviour">
    <span class="<%=xEditableSelectRC%> xProperty-type xSection-<%=name%> xSectionField"
          data-path="<%=site%>/section/<%=order%>/@attributes/type" x_options="<%=possible_types%>">
          <%=type_value%>
    </span>
  </div>
  <div class="csDetails">
    <%=type_html%>
  </div>
  <div class="csPub">
    <span class="<%=xEditableYesNo%> xProperty-published xSection-<%=name%>"
          data-path="<%=site%>/section/<%=order%>/@attributes/published"><%=published%></span>
  </div>
  <div class="csClone"><a href="#" class="xSectionClone">clone</a></div>
  <div class="csDelete"><a href="#" class="xSectionDelete">delete</a></div>
</script>

<script type="text/template" id="type_params">
  <%=html_before%>
  <div class="value <%=format%> xProperty-<%=property%> <%=html_entities%> xCSSUnits-<%=css_units%> <%=link%> xRequired-<%=allow_blank%> <%=validator%> <%=additional_params%>"
       title="<%=title%>"
       data-path="<%=path%>"
       x_options="<%=x_options%>">
    <%=value%>
  </div>
  <%=html_after%>
</script>
