<?xml version="1.0" encoding="utf-8"?>
<settings>
  <template>
    <template><![CDATA[messy-0.4.2]]></template>
  </template>
  <siteTexts>
    <siteHeading><![CDATA[Cape Town]]></siteHeading>
    <siteFooter><![CDATA[©]]></siteFooter>
  </siteTexts>
  <berta>
    <lastUpdated><![CDATA[Mon, 08 Oct 2018 10:21:39 GMT]]></lastUpdated>
    <installed><![CDATA[1]]></installed>
  </berta>
  <texts>
    <pageTitle><![CDATA[Cape Town]]></pageTitle>
  </texts>
  <navigation>
    <landingSectionVisible><![CDATA[yes]]></landingSectionVisible>
  </navigation>
  <media>
    <imagesMediumWidth><![CDATA[300]]></imagesMediumWidth>
    <imagesMediumHeight><![CDATA[300]]></imagesMediumHeight>
  </media>
  <socialMediaLinks>
    <links>
      <link>
        <icon><![CDATA[facebook]]></icon>
        <url><![CDATA[https://www.facebook.com/bertaCMS]]></url>
      </link>
      <link>
        <icon><![CDATA[twitter]]></icon>
        <url><![CDATA[https://twitter.com/berta_cms]]></url>
      </link>
      <link>
        <icon><![CDATA[youtube]]></icon>
        <url><![CDATA[https://www.youtube.com/user/CMSBerta]]></url>
      </link>
    </links>
    <location><![CDATA[additionalText]]></location>
  </socialMediaLinks>
</settings>
