/**
 * Baseline
 */
/* #region */
html {
	height: auto;
}

body {
	font-family: "avenir", Arial, Helvetica, sans-serif;
	-webkit-font-smoothing:subpixel-antialiased;
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

h1,
h2,
h3,
#pageEntries .xEntry h2 {
	font-weight: 600;
}

#pageEntries .xEntry h2 {
	font-family: "avenir", Arial, Helvetica, sans-serif;
}

a,
a:link,
a:visited {
	/* border-bottom: 1px solid #0023ff; */
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
/* #endregion */


#allContainer {
	flex: 1;
}


/**
 * Header navigation
 */
/* #region */

/* Navigation wrapper class */
.navigation {
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: #0023ff;
	-webkit-transition: .4s;
	transition: .4s;
}

.navigation.noBackground,
.navigation.noBackground .contentContainer.xResponsive {
	background-color: rgba(0,0,0,0);
}

.navigation .contentContainer.xResponsive {
	max-width: none;
}

.navigation h1 {
	float: left;
}

.navigation h1 a {
	border: 0;
}

.navigation h1 img {
	display: block;
}

.navigation nav {
	margin: 0.85em;
	text-align: right;
}

.navigation nav ul {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.navigation nav ul li {
	margin: 0 0 0 .7em;
}

/* Menu item class */
.navigation .menuItem {
	font-family: "avenir", Arial, Helvetica, sans-serif;
}

.menuItem a {
	display: inline-block;
	padding: 0.4em 1em;
	color: white;
	border: none;
	border-radius: 3px;
	text-decoration: none;
	text-shadow: none;
	transition: .2s;
}

.menuItem.menuItemSelected a,
.menuItem a:hover {
	text-decoration: underline;
}

.menuItem.xSection-free-trial a,
.menuItem.xSection-log-in a
 {
	border-radius: 3px;
	border: 2px solid #fff;

	color: #fff;
	font-size: 1em;
	padding: 0.3em 0.8em;

	text-decoration: none;
	text-shadow: none;
	text-transform: none;
}

.menuItem.xSection-free-trial a:hover,
.menuItem.xSection-log-in a:hover
 {
	color: #0023ff;
	background-color: #fff;
}

.navigation .button,
.navigation .button.info {
	position: absolute;
	top: 1em;
	right: 6.5em;
	z-index: 2;
}

.navigation .button.info {
	right: 1em;
}

@media (max-width: 767px)  {

	.navigation nav {
		margin:0;
	}

	.navigation nav #menuToggle {
		width: 1.7em;
		height: auto;
		padding: 1.5em 1.3em;
		border: 0 none;
		background: none;
		position: relative;
		top: 5px;
	}

	#menuToggle span,
	#menuToggle span:before,
	#menuToggle span:after {
		width: 100%;
		height: 3px;
		border-radius: 3px;
	}

	#menuToggle:hover span,
	#menuToggle:hover span:before,
	#menuToggle:hover span:after {
		background-color: #ddd;
	}

	.navigation nav ul {
		flex-direction: column;
		align-items: stretch;
		width: 100%;
	}

	.navigation .menuItem {
		text-align: center;
		margin: 0 0 .7em 0;
	}

	.navigation .menuItem:last-child {
		margin-bottom: 1em;
	}

	.menuItem a {
		display: block;
		margin: auto;
		padding: 0.56em;
		max-width: 80%;
	}

	.menuItem.xSection-free-trial a,
	.menuItem.xSection-log-in a {
		font-size: 1em;
		padding: 0.6em;
	}
}

/* #endregion */


.button,
.button:link,
.button:visited {
	display: inline-block;
	padding: 0.4em 1em;
	color: white;
	background: #0023ff;
	border: 2px solid #0023ff;
	border-radius: 3px;
	text-decoration: none;
	text-shadow: none;
	/* text-transform: uppercase; */
	transition: .2s;
}

.button.secondary,
.button.secondary:link,
.button.secondary:visited {
	color: #1a1a1a;
	background-color: #fff;
	border: 2px solid #1a1a1a;
	font-weight: 600;
}

.button.secondary:hover {
	color: #000;
	border: 2px solid #000;
}

.button.info,
.button.info:link,
.button.info:visited {
	color: #fff;
	background: none;
	border: 2px solid #fff;
	text-transform: none;
}

.button.info:hover {
	color: #ddd;
	border: 2px solid #ddd;
}

#pageEntries .xEntry .entryText ul {
	padding-left: 1.5em;
}

#pageEntries .xEntry .entryText ul li {
	list-style-type: disc;
}

.xContent-home .covers {
	position: relative;
	background-color: #0023ff;
}

.xContent-home .coversBackground {
	position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
	background-repeat: no-repeat;
	background-position: top left;
	background-size: cover;
}

.xContent-home .xCoverId-1 {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.xContent-home #pageEntries .xEntry h2 {
	margin-bottom: 0;
}

.xContent-home .xCoverId-1 .contentContainer {
	float: left;
	width: 40%;
	padding: 7em 2em;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
	transform: none;
}

.xContent-home .xCoverId-1 .slide .coverCaption {
	padding: 0;
	left: 0;
	width: 100%;
	font-size: .7em;
	text-align: center;
}

.xContent-home .xCoverId-1 .coverCaption p {
	display: inline-block;
	margin: 0;
	padding: .2em 1em;
	background-color: rgba(0,0,0,.6);
	border-radius: 5px 5px 0 0;
}

.xContent-home .xCoverId-1 .coverCaption a {
	color: #eee;
	text-decoration: none;
	border: 0;
}

.xContent-home .xCoverId-1 .entryText h2 {
	font-size: 2.2em;
	line-height: 1.3em;
	margin: 0;
	font-weight: normal;
}

.xContent-home .xCoverId-1 .entryText p {
	margin: .5em 0;
}

.xContent-home .xCoverId-1 .button {
	margin-top: 1em;
}

.xContent-home .xCoverId-1 .coverGalleryWrapper {
	position: absolute;
	bottom: 0;
	right: 0;
	float: right;
	width: 55%;
	box-sizing: border-box;
}

.xContent-home .xCoverId-1 .coverGallery {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
	padding-bottom: 56%;
	background-color: transparent;
	box-sizing: border-box;
	width: 100%;
}

.xContent-home .xCoverId-1 .coverGallery .slide {
	background-position: center bottom;
	background-size: contain;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.xContent-home #pageEntries .xEntry.xgallery-right-description-left .entryText {
	padding-left: 3em;
}

.xContent-home #pageEntries .xEntry.xgallery-right-description-left .xGalleryContainer {
	text-align: right;
}
.xContent-home #pageEntries .xEntry.xgallery-right-description-left .xGalleryContainer .xGallery {
	display: inline-block;
}

.xContent-home #pageEntries .xEntry.xgallery-left-description-right .entryText {
	padding-right: 3em;
}

.xContent-home #contentContainer.xResponsive {
	max-width: 640px;
}

.xContent-happy-websites .xEntryId-5 h2,
.xContent-happy-websites .xEntryId-6 h2,
.xContent-happy-websites .xEntryId-19 h2  {
	padding-top: 2.5em;
}

.xContent-happy-websites #pageEntries .xEntryId-19,
.xContent-happy-websites #pageEntries .xEntryId-20,
.xContent-happy-websites #pageEntries .xEntryId-22,
.xContent-happy-websites #pageEntries .xEntryId-24 {
	width: 100%;
	text-align: center;
}

.xContent-happy-websites #pageEntries .xEntryId-21,
.xContent-happy-websites #pageEntries .xEntryId-23,
.xContent-happy-websites #pageEntries .xEntryId-25 {
	padding: 0;
}

.xContent-happy-websites .button.secondary {
	margin-top: 2.5em;
}

#pageEntries #more-happy-websites {
	padding: 0;
	margin: 0 auto;
	width: 90%;
}

#pageEntries #more-happy-websites li {
	display: inline-block;
	vertical-align: top;
	list-style: none;
	margin: 0 2em;
	text-align: left;
	width: 25%;
}

#pageEntries #more-happy-websites li a:link,
#pageEntries #more-happy-websites li a:visited {
	color: #333333;
	text-decoration: none;
	border: 0;
}

#pageEntries #more-happy-websites li a:hover {
	border-bottom: 1px solid #333;
}

.xContent-shop-plugin #pageEntries .xEntryId-5 {
	width: 100%;
}

.xContent-shop-plugin #pageEntries .xEntryId-9 {
	display: none;
}

.xContent-plans #pageEntries .xEntryId-2 p {
	font-size: 1.3em;
	margin: 1em 0;
}

.xContent-plans #pageEntries .xEntryId-2 span {
	color: #0023ff;
	position: relative;
	top: 2px;
}

.xContent-plans #pageEntries .xEntryId-2 .icon-backup {
	font-size: 1.3em;
	top: 4px;
}

.xContent-plans #pageEntries .xEntryId-4 {
	text-align: center;
}

.xContent-plans form {
	display: inline-block;
	background-color: #ddd;
	padding: 1em 1.5em;
	border-radius: 3px;
	margin-bottom: 1em;
}

.xContent-plans form input {
 	display: block;
 	margin: 1em auto 0;
	font-family: "avenir", Arial, Helvetica, sans-serif;
}

.xContent-plans form #fieldEmail {
	width: 90%;
	text-align: center;
	border: 1px solid #ddd;
	border-radius: 3px;
	padding: .7em;
	font-size: .9em;
	color: #333;
}

.xContent-plans form .button.secondary {
	background-color: #ddd;
	font-size: .9em;
}

#contentContainer.xResponsive {
	margin-top: 5em;
}

.covers {
	padding-top: 55px;
}

.coverGallery .slide .coverCaption {
	padding: 0.4em 1.7em;
}

.xContent-happy-websites .covers,
.xContent-plans .covers,
.xContent-shop-plugin .covers,
.xContent-about-berta .covers,
.xContent-download .covers,
.xContent-support .covers,
.xContent-updates .covers,
.xContent-whats-new-full-list .covers {
	display: none;
}

.pricing {
	text-align: center;
}

.pricing .plan {
	display: inline-block;
	margin: 0 .5em;
	min-width: 290px;
}

.pricing .plan.basic {
	margin-bottom: 1em;
}

.plan .notes {
	text-transform: uppercase;
	color: #0023ff;
	padding: .3em .5em;
	font-size: .9em;
	border: 1px solid #0023ff;
	font-weight: normal;
	margin-bottom: .7em;
}

.plan .notes.empty {
	border: 0;
}

.plan .header {
	background-color: #878a92;
	color: #fff;
	padding: 1em 0 0;
	font-size: 1.2em;
	text-transform: uppercase;
}

.plan .price {
	font-size: 2.5em;
	padding: 0.7em .25em 0.5em;
	background-color: #878a92;
	font-weight: bold;
	color: #fff;
}

.plan .price span {
	font-size: .4em;
	font-weight: normal;
}

.plan .price div {
	font-size: .35em;
	margin-top: 1em;
	font-weight: normal;
}

.plan .features {
	min-height: 9em;
	padding: 1.8em .5em 0.1em;
	background-color: #f5f5f5;
}

.plan .features p {
	margin-top: 0;
}

.plan .features p.strike {
	text-decoration: line-through;
	color: #ccc;
}

.plan .buttons {
	padding: 0 1em 1em 1em;
	background-color: #f5f5f5;
}

.plan .buttons p {
	margin-top: .7em !important;
}

#pageEntries .xEntry .entryText p.vat_note {
  text-align: left;
  margin: 0 1.5em;
}

.xContent-site-list #pageEntries h2 {
	text-transform: uppercase;
	margin-top: 2em;
}

.xContent-site-list #pageEntries a {
	color: #999;
	border-bottom: 0;
}

.xContent-site-list #pageEntries a:hover {
	color: #333333;
}

#bottom {
	border-top: 1px solid #ccc;
	font-size: 1em;
	height: 4.5em;
	position: relative;
	top: auto !important;
	right: auto !important;
	margin: 2em auto 0 auto;
	padding-top: 1em;
	max-width: 95%;
	width: 960px;
}

#bottom a:link,
#bottom a:visited {
	color: #999;
	text-decoration: none;
	border: 0;
}

#additionalFooterText {
	margin: 0;
	width: 60%;
}

#additionalFooterText a {
	display: inline-block;
	margin-right: 2em;
}

#bertaCopyright {
	margin: 0;
	padding-top: 0.3em;
}

#additionalText {
	margin: 0;
	text-align: right;
}

#additionalText a {
	margin-left: .2em;
	font-size: 2.5em;
}

#mbCenter {
	display: none;
}

@media (max-width: 960px)  {
	#pageEntries #more-happy-websites {
		width: 100%;
	}
	#pageEntries #more-happy-websites li {
		width: 20%;
	}
}

@media (max-width: 767px)  {

	.coverCaption,
	.xContent-home .xCoverId-1 .coverGalleryWrapper {
		display:none;
	}

	#pageEntries .xEntry {
		padding: 0 2em 2em 2em;
	}

	#pageEntries .xEntry h2 {
		font-size: 1.5em;
	}

	.xContent-home .xCoverId-1 {
		padding: 2em 0;
	}

	.xContent-home #pageEntries .entryText {
		text-align: center;
	}

	.xContent-home .xGalleryContainer img {
		width: 60%;
	}

	.xContent-home #contentContainer .entryText p {
		font-size: 1em;
		line-height: 1.5em;
	}

	.xContent-home .xCoverId-1 .contentContainer {
		padding: 6em 2em 3em;
		width: 100%;
	}

	.xContent-home .xCoverId-1 .entryText h2 {
		font-size: 2em;
	}

	.xContent-home .xCoverId-1 .entryText p {
		margin: 0.5em 0;
	}

	.xContent-home .xCoverId-1 .entryText p span {
		font-size: 1.1em;
		line-height: 1.3em;
	}

	.xContent-home .xCoverId-1 .button {
		margin-top: 1em;
	}

	.xContent-home #pageEntries .xEntry {
		padding-bottom: 4em;
	}

	.xContent-home #pageEntries .xEntry.xgallery-right-description-left .entryText {
		padding-left: 0;
	}

	.xContent-home #pageEntries .xEntry.xgallery-right-description-left .xGalleryContainer,
	.xContent-home #pageEntries .xEntry.xgallery-left-description-right .xGalleryContainer {
		text-align: center;
	}
	.xContent-home #pageEntries .xEntry.xgallery-right-description-left .xGalleryContainer .xGallery,
	.xContent-home #pageEntries .xEntry.xgallery-left-description-right .xGalleryContainer .xGallery {
		display: inline-block;
	}

	.xContent-home #pageEntries .xEntry.xgallery-left-description-right .entryText {
		padding-right: 0;
	}

	#pageEntries #more-happy-websites li {
		width: 100%;
		display: block;
		margin: 0;
	}

	.xContent-plans #pageEntries .xEntryId-2 p {
		font-size: 1em;
	}

	.xContent-plans #pageEntries .xEntryId-2 span {
		top: 1px;
	}

	.xContent-plans #pageEntries .xEntryId-2 .icon-backup {
		top: 2px;
	}

	.pricing .plan {
		width: 264px;
		min-width:264px;
		margin: 0 auto;
		display: block;
	}

	#additionalFooterText {
		text-align: center;
		float: none;
		width: 100%;
	}

	#additionalFooterText a {
		margin: 0 .5em;
	}

	#bertaCopyright, #userCopyright {
		float: none;
	}

	#additionalText {
		text-align: center;
	}

	#additionalText a {
		margin: 0 .1em;
	}

	#bottom {
		padding-top: .5em;
		max-width: 100%;
	}
}

/* entry layouts */
#pageEntries .xEntry.xgallery-left-description-right,
#pageEntries .xEntry.xgallery-left-description-right .xGalleryContainer,
#pageEntries .xEntry.xgallery-left-description-right .entryText,

#pageEntries .xEntry.xgallery-right-description-left,
#pageEntries .xEntry.xgallery-right-description-left .xGalleryContainer,
#pageEntries .xEntry.xgallery-right-description-left .entryText {
  -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
}


#pageEntries .xEntry.xgallery-left-description-right .video-js,
#pageEntries .xEntry.xgallery-right-description-left .video-js {
  padding-bottom: 56%;
}

#pageEntries .xEntry.xgallery-left-description-right .xGalleryContainer,
#pageEntries .xEntry.xgallery-right-description-left .entryText {
  width: 50%;
  float: left;
  clear: none;
  padding-right: 10px;
}

#pageEntries .xEntry.xgallery-right-description-left .xGalleryContainer,
#pageEntries .xEntry.xgallery-left-description-right .entryText {
  width: 50%;
  float: right;
  clear: none;
  padding-left: 10px;
}

#pageEntries .xEntry.xgallery-left-description-right .xGallery,
#pageEntries .xEntry.xgallery-left-description-right .xGalleryItem,
#pageEntries .xEntry.xgallery-left-description-right .xGalleryItem img,
#pageEntries .entry.xgallery-left-description-right .entryText iframe,

#pageEntries .xEntry.xgallery-right-description-left .xGallery,
#pageEntries .xEntry.xgallery-right-description-left .xGalleryItem,
#pageEntries .xEntry.xgallery-right-description-left .xGalleryItem img,
#pageEntries .xEntry.xgallery-right-description-left .entryText iframe {
  max-width: 100%;
  height: auto !important;
}

/* small tablet */
@media (max-width: 767px)  {
  #pageEntries .xEntry.xgallery-left-description-right .xGalleryContainer,
  #pageEntries .xEntry.xgallery-right-description-left .entryText,
  #pageEntries .xEntry.xgallery-right-description-left .xGalleryContainer,
  #pageEntries .xEntry.xgallery-left-description-right .entryText {
    width: 100%;
    min-width: 100%;
    float: none;
    clear: both;
    padding: 0;
  }
}
/* end entry layouts */
