$berta-bg-dark: #000;
$berta-bg-light: #fff;
$berta-nav-text: #4D4D4D;
$berta-accent: #0c4dff;
$berta-nav-text-active: #fff;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: AvenirNext, Helvetica, Arial, sans-serif;
}

header {
  background-color: $berta-bg-dark;
  height: 60px;

  nav {
    a {
      color: $berta-nav-text;
      font-size: 1rem;
      line-height: 22px;
      margin: 19px 20px;
      margin-right: 10px;

      &:hover {
        color: $berta-accent;
      }

      &:last-child {
        margin-right: 0;
      }

      &.nav-active {
        color: $berta-nav-text-active;
      }
    }
  }
}

aside {
  background-color: $berta-bg-light;
  border-right: 1px solid $berta-nav-text;  // for develompent
  padding-top: 60px;
}

.overlay {
  background: rgba($berta-bg-dark, .3);
}
