<?xml version="1.0" encoding="utf-8"?>
<settings>
  <template>
    <template><![CDATA[white-0.3.5]]></template>
  </template>
  <siteTexts>
    <siteHeading><![CDATA[Kyoto]]></siteHeading>
  </siteTexts>
  <berta>
    <lastUpdated><![CDATA[Thu, 21 May 2015 13:25:27 GMT]]></lastUpdated>
    <installed><![CDATA[1]]></installed>
  </berta>
  <texts>
    <pageTitle><![CDATA[Kyoto]]></pageTitle>
    <ownerName><![CDATA[Kyoto]]></ownerName>
  </texts>
  <navigation>
    <landingSectionVisible><![CDATA[no]]></landingSectionVisible>
  </navigation>
  <media>
    <imagesLargeWidth><![CDATA[1000]]></imagesLargeWidth>
    <imagesLargeHeight><![CDATA[1000]]></imagesLargeHeight>
  </media>
  <socialMediaButtons>
    <socialMediaLocation><![CDATA[additionalText]]></socialMediaLocation>
  </socialMediaButtons>
  <socialMediaLinks>
    <links>
      <link>
        <icon><![CDATA[facebook]]></icon>
        <url><![CDATA[https://www.facebook.com/bertaCMS]]></url>
      </link>
      <link>
        <icon><![CDATA[twitter]]></icon>
        <url><![CDATA[https://twitter.com/berta_cms]]></url>
      </link>
      <link>
        <icon><![CDATA[youtube]]></icon>
        <url><![CDATA[https://www.youtube.com/user/CMSBerta]]></url>
      </link>
    </links>
    <location><![CDATA[additionalText]]></location>
  </socialMediaLinks>
</settings>
