<?xml version="1.0" encoding="utf-8"?>
<settings>
  <template>
    <template><![CDATA[messy-0.4.2]]></template>
  </template>
  <siteTexts>
    <siteHeading><![CDATA[Madrid]]></siteHeading>
  </siteTexts>
  <berta>
    <lastUpdated><![CDATA[Mon, 19 Feb 2018 14:49:24 GMT]]></lastUpdated>
    <installed><![CDATA[1]]></installed>
  </berta>
  <texts>
    <pageTitle><![CDATA[Madrid]]></pageTitle>
    <ownerName><![CDATA[Berta.me]]></ownerName>
  </texts>
  <media>
    <imagesLargeWidth><![CDATA[620]]></imagesLargeWidth>
    <imagesLargeHeight><![CDATA[600]]></imagesLargeHeight>
    <imagesSmallWidth><![CDATA[300]]></imagesSmallWidth>
    <imagesSmallHeight><![CDATA[225]]></imagesSmallHeight>
  </media>
  <socialMediaLinks>
    <links>
      <link>
        <icon><![CDATA[facebook]]></icon>
        <url><![CDATA[https://www.facebook.com/bertaCMS]]></url>
      </link>
      <link>
        <icon><![CDATA[twitter]]></icon>
        <url><![CDATA[https://twitter.com/berta_cms]]></url>
      </link>
      <link>
        <icon><![CDATA[youtube]]></icon>
        <url><![CDATA[https://www.youtube.com/user/CMSBerta]]></url>
      </link>
    </links>
    <location><![CDATA[additionalText]]></location>
  </socialMediaLinks>
</settings>
