body {
  min-height: 100%;
}

a {
  img {
    border: none;
  }
}

h1 {
  padding: 0;
}

.social-icon {
  display: inline-block;

  svg {
    width: 24px;
    height: 24px;
  }

  &:not(:last-child) {
    margin-right: .5em;
  }
}
