<?xml version="1.0" encoding="utf-8"?>
<settings>
  <template>
    <template><![CDATA[messy-0.4.2]]></template>
  </template>
  <siteTexts>
    <siteHeading><![CDATA[SYDNEY]]></siteHeading>
    <siteFooter><![CDATA[©]]></siteFooter>
    <tourComplete><![CDATA[1]]></tourComplete>
    <siteHeadingXY><![CDATA[60,140]]></siteHeadingXY>
  </siteTexts>
  <berta>
    <lastUpdated><![CDATA[Wed, 19 Sep 2018 14:24:08 GMT]]></lastUpdated>
    <installed><![CDATA[1]]></installed>
  </berta>
  <texts>
    <pageTitle><![CDATA[Sydney]]></pageTitle>
  </texts>
  <socialMediaLinks>
    <links>
      <link>
        <icon><![CDATA[facebook]]></icon>
        <url><![CDATA[https://www.facebook.com/bertaCMS]]></url>
      </link>
      <link>
        <icon><![CDATA[twitter]]></icon>
        <url><![CDATA[https://twitter.com/berta_cms]]></url>
      </link>
      <link>
        <icon><![CDATA[youtube]]></icon>
        <url><![CDATA[https://www.youtube.com/user/CMSBerta]]></url>
      </link>
    </links>
    <location><![CDATA[additionalText]]></location>
  </socialMediaLinks>
</settings>
