<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 ie-old"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 ie-old"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
  <div [outerHTML]="sectionHead | safe: 'html'"></div>
  <body [class]="bodyClasses">
    <div id="allContainer">
      <div id="contentContainer" [class.xResponsive]="isResponsive">
        <div [outerHTML]="sitesMenu | safe: 'html'"></div>
        <div [outerHTML]="siteHeader | safe: 'html'"></div>
        <div [outerHTML]="additionalTextBlock | safe: 'html'"></div>
        <div [outerHTML]="sectionsMenu | safe: 'html'"></div>
      </div>
    </div>
  </body>
</html>
