html { width: 100%; }

body {
    margin: 0;
    padding: 0;
    color: #333333;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    line-height: normal;
    background-color: #FFFFFF;
    text-align: left;
}

div.clear,
br.clear { clear: both; }

#allContainer {
    margin: 20px 40px 40px;
    padding: 0;
}

#contentContainer {
    width: 900px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: auto;
}
    #pageEntries .xEntry .xGalleryType-pile .xGalleryItem {
        position: absolute;
    }

.bertaCopyright {
    clear: left;
    font-size: 10px;
    color: #333333;
    margin: 0 0 0;
}


/* filled background */
#xFilledBackground {
    position: fixed;
    z-index: 0;
    left: 0; top: 0; bottom: 0; right: 0;
    display: none;
}
    #xFilledBackground img {
        position: absolute;
    }


div.xGalleryContainer.xSlideNumbersVisible-no>ul.xGalleryNav { display: none !important; }

div.xGalleryContainer .loader {
    position: absolute;
    top: 45%;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: rgba(255,255,255,0.8) url("../../layout/loader.gif") no-repeat center center;
    width: 40px;
    height: 40px;
}

/* video background */

div.xGalleryItem {
    position: relative;
}
    div.xGalleryItem object { position: relative;  }
    div.xGalleryItem .xGalleryImageVideoBack { position: absolute;  }

.xFullscreen {
    display: none;
}

* {
    -webkit-text-size-adjust: none;
}


.xSectionType-portfolio .xGalleryContainer {
    width: 50%;
    float: left;
    -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
}

.xSectionType-portfolio .xGalleryContainer.xGalleryType-row {
    width: 100%;
    float: none;
}

.xSectionType-portfolio .entryTextWrap {
    width: 50%;
    float: left;
    padding-left: 20px;
    -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
}

.xSectionType-portfolio .entryTextWrap.galleryType-row {
    width: 100%;
    float: none;
    padding-left: 0;
}

.portfolioThumbnails {
    margin-left: -20px;
}

.portfolioThumbnail {
    width: 33%;
    padding: 0 0 20px 20px;
    float: left;
    -webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
}

.portfolioThumbnail:nth-child(3n+1) {
    clear: left;
}

.portfolioThumbnail .wrap {
    position: relative;
    transition: .2s;
}

.portfolioThumbnail .wrap:hover {
    opacity: .8;
}

.portfolioThumbnail a:hover {
    text-decoration: none;
}

.portfolioThumbnail img {
    display: inline-block;
    max-width: 100%;
}

.portfolioThumbnail span {
    display: block;
}

/* helpers */

.clearfix { zoom: 1; }
.clearfix:before,
.clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

.xHidden {
    display: none !important;
}

/* small tablet */
@media (max-width: 767px)  {

    .xSectionType-portfolio .xGalleryContainer {
        width: 100%;
        float: none;
    }

    .xSectionType-portfolio .entryTextWrap {
        width: 100%;
        float: none;
        padding-left: 0;
    }

    .portfolioThumbnail {
        width: 49%;
    }

    .portfolioThumbnail:nth-child(3n+1),
    .portfolioThumbnail:nth-child(2n+1) {
        clear: none;

    }
}

/* phone */
@media (max-width: 480px) {

    .portfolioThumbnail {
        width: 100%;
    }

    .portfolioThumbnail:nth-child(3n+1),
    .portfolioThumbnail:nth-child(2n+1) {
        clear: none;
    }

}