/* Make sure it's on top of everything */
.pswp {
  z-index: 100001;
}

.pswp__button--arrow--left:before,
.pswp__button--arrow--right:before {
  top: 33px;
  background-image: url('/engine/layout/swiper-arrow.svg');
  background-position: center center;
  background-size: auto;
  width: 35px;
  height: 35px;
}

.pswp__button--arrow--right:before {
  transform: rotate(180deg);
}

.pswp .xGalleryItemType-video {
  display: flex;
  height: 100%;
}

.pswp video {
  max-width: 100%;
  width: 100%;
}

.bt-responsive .pswp img,
.bt-auto-responsive .pswp img {
  max-width: none;
}

.pswp .xGalleryImageCaption {
  display: block;
}

/* small tablet */
@media (max-width: 767px) {

  .bt-responsive .pswp img,
  .bt-auto-responsive .pswp img {
    max-width: none;
  }
}
