.swiper-slide {
  background-color: #fff;
}

.swiper-slide .xGalleryItem {
  margin: 0 auto;
}

.swiper-button-prev {
  background-image: url('/engine/layout/swiper-prev.svg');
}

.swiper-button-next {
  background-image: url('/engine/layout/swiper-next.svg');
}

.swiper-slide .xGalleryItem {
  max-width: 100%;
}

.swiper-slide .xGalleryItem,
.swiper-slide img,
.swiper-slide video {
  max-width: 100%;
  height: auto !important;
}
