@use "variables";

.user-account-container {
  color: variables.$black;

  h3 {
    border-bottom: 0;
  }

  form {
    .error-message {
      color: variables.$error-color;
      font-size: variables.$input-font-size;
    }

    berta-text-input {
      margin: 1.3em;

      &:first-child {
        margin-top: 0;
      }
    }

    > .form-group {
      font-size: 1em;
      margin: 1.3em;

      &:first-child {
        margin-top: 0;
      }
    }

    button {
      display: block;
      font-size: variables.$base-font-size;
      margin: 0 0 1.3em auto;
      width: 50%;
    }

    .info-message {
      font-size: variables.$input-font-size;
      text-align: right;
    }
  }
}
