aside {
  background-color: $white;
  border-right: 1px solid $grey-30;  // for develompent
  padding-top: $bt-header-height;
}

.setting-group {
  transition:  background-color .2s;

  h3 {
    align-items: center;
    border-bottom: 1px solid $grey-10;
    color: $black;
    cursor: pointer;
    display: flex;
    font-size: 1em;
    font-weight: normal;
    justify-content: space-between;
    margin: 0;
    outline: none;
    padding: 1.3em;
    transition:  color .2s;

    svg {
      transition: transform .2s;
    }

    .drop-icon {
      stroke: $black;
      transition: stroke .2s;
    }

    &:hover {
      color: $berta-accent;

      .drop-icon {
        stroke: $berta-accent;
      }
    }
  }

  h4 {
    border-top: 1px solid $grey-10;
    color: $grey-80;
    font-size: .9em;
    font-weight: normal;
    margin: 0;
    padding-top: 1.3em;
  }

  &:first-child {
    h3 {
      border-top: 0;
    }
  }

  > .settings {
    max-height: 0;
    overflow: hidden;
    transition:  max-height .2s ease;

    berta-setting {
      &:first-child {
        margin-top: 0;

        h4 {
          border-top: 0;
          padding-top: 0;
        }
      }
    }
  }

  &.is-expanded {
    background-color: $grey-1;

    h3 {
      border-bottom: 0;
      cursor: default;

      svg {
        transform: scaleY(-1);
      }

      .drop-icon {
        stroke: $berta-accent;
      }

      &:hover {
        color: $black;
      }
    }

    > .settings {
      border-bottom: 1px solid $grey-10;
      max-height: 1500px; // auto
      overflow: visible;
    }

    &:last-child {
      > .settings {
        border-bottom: 0;
      }
    }
  }

  berta-setting {
    margin: 1.3em;
  }
}
