.button {
  background-color: $black;
  border: 0;
  border-radius: $border-radius;
  color: $grey-30;
  display: inline-block;
  font-size: 1em;
  line-height: 1;
  padding: .75em 1.3em;
  text-align: center;
  text-decoration: none;
  transition: color .2s, background-color .2s;

  &:hover {
    background-color: $berta-accent;
    color: $white;
  }

  &:focus,
  &:active {
    background-color: darken($berta-accent, 10%);
    color: darken($grey-30, 10%);
  }

  &.secondary {
    background-color: $grey-20;
    color: $white;
  }

  &.disabled,
  &[disabled] {
    background-color: $grey-10;
  }
}
