.button {
  background-color: $berta-bg-dark;
  border: 0;
  border-radius: $border-radius;
  color: $berta-nav-text;
  display: inline-block;
  font-size: 1em;
  line-height: 1;
  padding: .75em 1.3em;
  text-decoration: none;
  transition: color .2s, background-color .2s;

  &:hover {
    background-color: $berta-accent;
  }

  &:focus,
  &:active {
    background-color: darken($berta-accent, 10%);
    color: darken($berta-nav-text, 10%);
  }

  &.secondary {
    background-color: $button-secondary-color;
    color: $berta-bg-light;
  }

  &.disabled,
  &[disabled] {
    background-color: $button-disabled-color;
  }

}
