.button {
  background-color: $black;
  border: 0;
  border-radius: $border-radius;
  color: $grey-30;
  display: inline-block;
  font-size: 1em;
  line-height: 1;
  padding: 0.75em 1.3em;
  text-align: center;
  text-decoration: none;
  transition: color 0.2s, background-color 0.2s;
  white-space: nowrap;

  &:hover {
    background-color: $berta-accent;
    color: $white;
  }

  &:focus,
  &:active {
    background-color: darken($berta-accent, 10%);
    color: darken($grey-30, 10%);
  }

  &.secondary {
    background-color: $grey-20;
    color: $white;
  }

  &.inverse {
    background-color: $white;
    color: $black;
    box-shadow: inset 0 0 0 1px $black;

    &:hover {
      color: $berta-accent;
      box-shadow: inset 0 0 0 1px $berta-accent;
    }
  }

  &.disabled,
  &[disabled] {
    background-color: $grey-10;
    pointer-events: none;
  }
}

button {
  &.close {
    background: none;
    cursor: pointer;
  }
}
