berta-entry-gallery-editor {
  display: flex;
  min-height: 100%;

  aside {
    flex-shrink: 0;
    padding-top: 0;
    width: 384px;
    border-right: 1px solid $grey-10;
  }

  .content {
    padding: 1.3em;
    flex-grow: 1;

    .header {
      display: flex;
      column-gap: 1em;
      align-items: center;

      h3 {
        flex-grow: 1;
      }

      .close {
        font-size: 1.5em;
      }
    }
  }

  .entry-gallery {
    margin-bottom: 1em;
  }
}
