.form-group {
  font-size: $input-font-size;

  label {
    align-items: center;
    color: $input-color;
    display: flex;
    justify-content: space-between;
    transition: color .2s;
  }

  .text-input-wrapper {
    align-items: center;
    border: 1px solid $input-color;
    border-radius: $border-radius;
    display: flex;
    margin-left: 1em;
    padding-left: .75em;
    transition: border-color .2s;
    width: 50%;

    svg {
      flex-shrink: 0;
    }

    .icon {
      fill: $input-color;
      transition: fill .2s;
    }

    input {
      border: 0;
      border-radius: $border-radius;
      color: $input-color;
      flex-grow: 1;
      font-size: 1em;
      outline: none;
      padding: .75em .75em .75em 0;
      transition: color .2s;

      &:focus {
        color: $berta-accent;
      }
    }
  }

  textarea {
    border: 1px solid $input-color;
    border-radius: $border-radius;
    box-sizing: border-box;
    color: $input-color;
    display: block;
    font-size: 1em;
    margin: .75em 0 0;
    outline: none;
    padding: .75em;
    transition: color .2s, border-color .2s;
    width: 100%;

    &:focus {
      color: $berta-accent;
    }
  }

  &:hover,
  &.bt-focus {
    label,
    input,
    textarea:not(:focus):not([disabled]) {
      color: $input-color-active;
    }

    .text-input-wrapper,
    textarea {
      border: 1px solid $input-color-active;

      .icon {
        fill: $input-color-active;
      }
    }
  }

  &.bt-disabled {
    opacity: .3;
  }

  &.error {
    label,
    input,
    textarea:not(:focus) {
      color: $error-color;
    }

    .text-input-wrapper,
    textarea:not(:focus) {
      border-color: $error-color;

      .icon {
        fill: $error-color;
      }
    }
  }
}
