.form-group {
  font-size: $input-font-size;


  label {
    align-items: center;
    color: $input-color;
    display: flex;
    justify-content: space-between;
    transition: color .2s;
  }

  .text-input-wrapper,
  .file-input-wrapper {
    align-items: center;
    border: 1px solid $input-color;
    border-radius: $border-radius;
    display: flex;
    margin-left: 1em;
    padding-left: .75em;
    transition: border-color .2s;
    width: 50%;

    .icon {
      fill: $input-color;
      transition: fill .2s;
    }

    .icon-remove {
      transition: stroke .2s;
    }

    input,
    .file-input {
      border: 0;
      border-radius: $border-radius;
      color: $input-color;
      flex-grow: 1;
      font-size: 1em;
      outline: none;
      padding: .75em .75em .75em 0;
      transition: color .2s;

      &:focus {
        color: $berta-accent;
      }
    }
  }

  .file-input-wrapper {
    cursor: pointer;

    input {
      display: none;
    }

    .file-input {
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    svg {
      padding-right: .75em;
    }
  }

  &:hover,
  &.bt-focus {
    label,
    .file-input,
    input {
      color: $input-color-active;
    }

    .text-input-wrapper,
    .file-input-wrapper {
      border: 1px solid $input-color-active;

      .icon {
        fill: $input-color-active;
      }

      .icon-remove {
        stroke: $input-color-active;
      }
    }
  }

  &.bt-disabled {
    opacity: .3;
  }

  &.error {
    label,
    .file-input,
    input {
      color: $error-color;
    }

    .text-input-wrapper,
    .file-input-wrapper {
      border-color: $error-color;

      .icon {
        fill: $error-color;
      }

      .icon-remove {
        stroke: $error-color;
      }
    }
  }

  .error-message {
    color: $error-color;
    margin: .5em 0;
  }
}
