.form-group {
  font-size: $input-font-size;
  transition: opacity .2s;

  label {
    align-items: center;
    color: $input-color;
    display: flex;
    justify-content: space-between;
    transition: color .2s;
  }

  .text-input-wrapper,
  .color-picker-wrapper {
    align-items: center;
    border: 1px solid $input-color;
    border-radius: $border-radius;
    display: flex;
    margin-left: 1em;
    padding-left: .75em;
    transition: border-color .2s;
    width: 50%;

    .icon {
      fill: $input-color;
      transition: fill .2s;
    }

    > input {
      border: 0;
      border-radius: $border-radius;
      box-sizing: border-box;
      color: $input-color;
      flex-grow: 1;
      font-size: 1em;
      outline: none;
      padding: .75em .75em .75em 0;
      transition: color .2s;

      &:focus {
        color: $berta-accent;
      }
    }
  }

  .color-picker-wrapper {
    position: relative;

    > input {
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTI2LjY2NjcgMjYuNjY2N0g0MFY0MEgyNi42NjY3VjI2LjY2NjdaIiBmaWxsPSIjOUI5QjlCIi8+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0wIDI2LjY2NjdIMTMuMzMzM1Y0MEgwVjI2LjY2NjdaIiBmaWxsPSIjOUI5QjlCIi8+PHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBjbGlwLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xMy4zMzMzIDEzLjMzMzNIMjYuNjY2N1YyNi42NjY2SDEzLjMzMzNWMTMuMzMzM1oiIGZpbGw9IiM5QjlCOUIiLz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTI2LjY2NjcgMEg0MFYxMy4zMzMzSDI2LjY2NjdWMFoiIGZpbGw9IiM5QjlCOUIiLz48cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGNsaXAtcnVsZT0iZXZlbm9kZCIgZD0iTTAgMEgxMy4zMzMzVjEzLjMzMzNIMFYwWiIgZmlsbD0iIzlCOUI5QiIvPjwvc3ZnPg==);
      background-position-x: right;
      background-repeat: no-repeat;
      margin-left: 0;
      padding-right: 40px;
      width: 100%;
    }

    .color-preview {
      border-radius: 0 $border-radius $border-radius 0;
      bottom: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 40px;
    }
  }

  &:hover,
  &.bt-focus {
    label,
    input {
      color: $input-color-active;
    }

    .text-input-wrapper,
    .color-picker-wrapper {
      border: 1px solid $input-color-active;

      .icon {
        fill: $input-color-active;
      }
    }
  }

  &.bt-disabled {
    opacity: .3;
  }

  &.error {
    label,
    input {
      color: $error-color;
    }

    .text-input-wrapper,
    .color-picker-wrapper {
      border-color: $error-color;

      .icon {
        fill: $error-color;
      }
    }
  }
}

color-picker {
  position: absolute;
}
