berta-login {
  height: 100%;
}

.login-container {
  color: $black;
  display: flex;
  flex-direction: column;
  height: 100%;

  .bt-login-loading {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    align-self: center;
  }

  h3 {
    border-bottom: 0;
    display: block;
  }

  .social-login {
    font-size: $input-font-size;
    margin: 0 1.3em;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;

    a {
      width: 100%;
      height: 37px;
      color: $white;
      display: flex;
      align-items: center;
      margin-bottom: 1.3em;
      padding: 1px 0 1px 0;
      transition: background-color .2s;

      &.facebook {
        background-color: $facebook-color;

        & svg {
          width: 25px;
          padding-left: 7px;
        }

        & p {
          margin-top: 0;
          font-size: 18px;
          flex-grow: 2;
        }

        &:hover {
          background-color: darken($facebook-color, 10%);
        }
      }

      &.google {
        background-color: $google-color;

        & bt-icon-google {
          background-color: $white;
          border-top-left-radius: 4px;
          border-bottom-left-radius: 4px;
          margin-left: 1px;
          height: 100%;
          width: 35px;
          display: flex;
          justify-content: center
        }

        & svg {
          width: 20px;
        }

        & p {
          margin-top: 0;
          font-size: 18px;
          flex-grow: 2;
        }

        &:disabled {
          color: #7c7c7c;
          background-color: #d2d2d2;
        }

        &:hover:enabled {
          background-color: darken($google-color, 3%);
        }

      }
    }

    p {
      margin-bottom: 0;
    }
  }

  .error-message {
    color: $error-color;
    font-size: $input-font-size;
    margin: 1.3em 1.3em 0;
  }

  form {
    flex-grow: 1;

    .form-group {
      margin: 1.3em;
    }

    .buttons {
      text-align: right;
    }

    button {
      display: block;
      font-size: $base-font-size;
      margin-bottom: 1.3em;
      margin-left: auto;
      width: 50%;
    }

    a {
      color: $black;
    }
  }

  .footer {
    display: flex;
    font-size: $input-font-size;
    justify-content: space-between;
    padding: 1.3em;
  }
}
