.berta-site-sections {
  display: block;

  > button {
    font-size: .875em;
    margin: 1.3em;
  }

  &.bt-reordering {
    .settings {
      display: none;
    }
  }
}

berta-section {
  display: block;
  cursor: grab;

  &.bt-sort-place-after {
    border-bottom: 3rem solid $grey-10;
  }

  &.bt-sort-place-before {
    border-top: 3rem solid $grey-10;
  }

  &.bt-sort-is-dragged {
    height: 0;
    overflow: hidden;
    cursor: grabbing;
  }
}
