berta-site-sections {
  display: block;
  margin-bottom: 1.3em;

  > button {
    font-size: .875em;
    margin: 1.3em;
  }
}


berta-section {
  display: block;

  &:last-child {
    margin-bottom: 1.3em;
  }

  h3 {
    border-bottom: 1px solid $grey-light;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 1.3em;

    button {
      background: none;
      border: 0;
      margin-left: 1em;
      padding: 0;
    }
  }

  h4 {
    border-top: 1px solid $grey-light;
    font-size: .9em;
    font-weight: normal;
    margin: 1.3em;
    padding-top: 1.3em;
  }

  .form-group {
    margin: 1.3em;
  }
}
