berta-site-sections {
  display: block;
  margin-bottom: 1.3em;

  > button {
    font-size: .875em;
    margin: 1.3em;
  }
}


berta-section {
  display: block;

  &:last-child {
    margin-bottom: 1.3em;
  }

  .section-container {
    > .settings {
      max-height: 0;
      overflow: hidden;
      transition:  max-height .2s ease;
    }
  }


  h3 {
    border-bottom: 1px solid $grey-light;
    font-size: 1em;
    font-weight: normal;
    margin: 0;
    padding: 1.3em;

    .edit {
      cursor: pointer;
      margin-left: .25em;
      max-height: 1em;
    }

    input {
      border: 0;
      font-size: 1em;
      outline: none;
      padding: 0;
    }

    button {
      background: none;
      border: 0;
      cursor: pointer;
      margin-left: 1em;
      padding: 0;
    }
  }

  h4 {
    border-top: 1px solid $grey-light;
    font-size: .9em;
    font-weight: normal;
    margin: 1.3em;
    padding-top: 1.3em;
  }

  .form-group {
    margin: 1.3em;
  }

  .section-container {
    &.is-expanded {
      > .settings {
        border-bottom: 1px solid $grey-light;
        max-height: 1500px; // auto
        overflow: visible;
      }
    }
  }
}
