@import 'variables';

berta-sites {
  display: block;

  > button {
    font-size: .875em;
    margin: 1.3em;
  }
}

berta-site {
  background-color: $white;
  display: block;
}
.current-site{
  background-color: $grey-10;
}
