@import 'variables';

berta-sites {
  display: block;

  > button {
    font-size: .875em;
    margin: 1.3em;
  }
}

berta-site {
  background-color: $white;
  display: block;
}

.active{
  background-color: $grey-10;
}

.link:hover span, 
.link:hover a {
  color: $berta-accent !important;
}
