.ng-sg-placeholder {
  background-color: #f4f4f4 !important;
  color: darkgrey !important;
}

.ng-sg-dropped {
  border: 1px solid cornflowerblue !important;
}

.ng-sg-selected {
  background: lightblue !important;
}

.ng-sg-active {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
  opacity: 0.6;
}
