#sideColumn {
  position: fixed;
  z-index: 2000;
  top: 0;
  bottom: 0;

  &.xCentered {
    left: 50%;
  }
}

.xNarrow {
  #sideColumn {
    left: 0;
    margin-left: 0;
  }
}

.page-xMySite,
.ie6 {
  #sideColumn {
    position: absolute;
    height: 100%;
  }
}

#multisites {
  list-style: none;
  padding: 0;
  margin: 0;

  li {
    display: inline-block;
    margin: 0 10px 10px 0;
    padding: 0;
  }
}

#sideColumnTop {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;

  h1 {
    min-height: 40px;
    float: none;
    padding: 0;
    margin: 0;

    a {
      text-decoration: none;
    }
  }

  ul {
    list-style: none;
    margin: 0 0 20px;
    padding: 0;

    li {
      padding-bottom: 6px;
    }

    ul {
      margin: 0;

      li {
        padding-bottom: 0;
        text-transform: none;
      }
    }

    select {
      width: 100%;
    }
  }
}

#additionalText {
  position: absolute;
  min-width: 140px;

  p {
    margin-top: 0;
    padding: 0;
  }
}

#sideColumnBottom {
  position: absolute;
  bottom: 0;
  width: 140px;
  padding: 20px 20px 30px;

  p {
    width: 100%;
    font-size: 10px;
    margin: 0;
    padding: 0;
  }
}

.page-xMySite {
  #sideColumnBottom {
    position: static;
  }
}
